@page
@model PrivacyModel
@{
    ViewData["Title"] = "About me";
}
<h1>@ViewData["Title"]</h1>

<p>Full name: Minh Tran Duc</p>
<p>Age: @(DateTime.Now.Year - 2001)</p>
<p>Current position: Student at HUST (Hanoi University of Science and Technology)</p>